{% extends 'basePage.njk' %} {% block head %}
<link rel="stylesheet" href="/public/css/home.css" />
{% endblock %} {% block body %}

<section class="section">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <div class="content is-medium">
        <h1 class="title is-size-1 has-text-centered has-text-warning">
          Oooops, algo salió mal :(
        </h1>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block script %}
<script></script>
{% endblock %}
