html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

:root {
    --spacing-01: 4px;
    --spacing-02: 8px;
    --spacing-03: 16px;
    --spacing-04: 32px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainContent {
    flex-grow: 1;
}

.show {
    display: initial;
}
.hide {
    display: none;
}

ul.reset,
ul.reset li,
ul.reset ul li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    text-align: inherit;
}

/* Remove excess padding and border in Firefox 4+ */
button.reset::-moz-focus-inner {
    border: 0;
    padding: 0;
}
